:root {
    --kaki: rgb(218, 178, 47);
    --blue: #659DBD;
    --clay: #DAAD86;
    --earth: #BC986A;
    --sand: #FBEEC1;
    --text: #252525;
}

body {
    background-color: var(--sand);
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    min-width: 500px;
}

.edit_category_form {
    display: none;
}

.header_wrapper {
    display: flex;
    background-color: #252525;
    margin: 20px;
    align-items: center;
    justify-content: space-between;

    & a {
        & i {
            padding: 0;
        }
        text-decoration: none;
        color: whitesmoke;
        padding: 20px;
        font-size: 2.5rem;
        font-weight: bold;
        display: flex;
        align-items: center;
    }

    & a:hover {
        color: #c5c5c5;
    }

    & h1 {
        text-align: center;
        padding: 20px;
        font-size: 3rem;
        color: whitesmoke;
        margin: 0;
    }

    & i {
        color: whitesmoke;
        padding: 20px;
        font-size: 2.5rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        margin: 0;
    }

    & i:hover {
        color: #c5c5c5;
        cursor: pointer;
    }
}

.buttons_form_wrapper {
    display: flex;
    justify-content: space-between;
}
/*--------------------------TABLE---------------------------------*/
thead {
    display: inline-table;
    width: 100%;
}

thead > tr{
    background-color: var(--text);
    color: whitesmoke;
}

thead > tr:hover {
    background-color: var(--text);
}

th {
    padding: 30px;
    cursor: pointer;
}

th:hover {
    color: #d4d4d4;
}

tr {
    border: none;
    background-color: whitesmoke;
}

tbody {
    display: inline-table;
    width: 100%;
}

td {
    cursor: pointer;
    text-align: center;
    padding: 30px;
}

.td-image {
    padding: 0;
    text-align: center;

    & img {
        display: block;
        max-height: 50px;
        border-radius: 50%;
        margin: 0 auto;
    }
}

tr:hover {
    background-color: rgb(224, 224, 224);
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    max-height: 300px;
    overflow-y:scroll;
    display:block;
}

.table_wrapper {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    max-height: 85vh;
    overflow: hidden; /* Hide the overflow for the wrapper */
}
/*------------------------------------------------------------------------------------*/
button {
    background-color: var(--blue);
    color: whitesmoke;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #8ebcd9;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.add_egg_form {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 50%;
    min-width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & input {
        border: darkgray 1px solid;
        width: 80%;
        color: #2a3236;
        margin: 5px;
        padding: 10px 20px;
        text-align: center;
    }

    & input:hover {
        background-color: #e2e2e2;
    }
}

.form_buttons {
    display: flex;
    justify-content: space-between;
    width: 90%;

    & button {
        margin: 5px;
        width: 40%;
    }
}

.cancel_button {
    background-color: #e2e2e2;
    color: #2a3236;

    &:hover {
        background-color: #d4d4d4;
    }
}

/* Hide scrollbar for Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent; /* scrollbar-track-color scrollbar-thumb-color */
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari, newer versions of Opera) */
*::-webkit-scrollbar {
    width: 5px; /* width of the scrollbar */
}

*::-webkit-scrollbar-thumb {
    background-color: transparent; /* color of the thumb */
}

*::-webkit-scrollbar-track {
    background-color: transparent; /* color of the track */
}