:root {
    --kaki: rgba(147, 112, 219, 0.59);
    --lightkaki: #b9b255;
    --blue: #659DBD;
    --clay: #DAAD86;
    --earth: #BC986A;
    --sand: #FBEEC1;
    --text: #252525;
}

body {
    background-color: var(--blue);
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    min-width: 500px;
}

h1 {
    text-align: center;
    padding: 20px;
    font-size: 3rem;
    background-color: #252525;
    color: whitesmoke;
    margin: 20px;
}

form {
    display: none;
}

td {
    cursor: pointer;
    text-align: center;
    padding: 5px;
    border: whitesmoke 2px solid;
    width: 50%;
}

td:hover {
    background-color: var(--clay);
}

table {
    width: 100%;
    background-color: var(--earth);
    border: whitesmoke 2px solid;
    overflow: scroll;
    border-spacing: 0;
    border-collapse: separate;
}

button {
    background-color: var(--kaki);
    color: whitesmoke;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0 0 0;
    font-weight: bold;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin: 5px;
}

button:hover {
    background-color: var(--lightkaki);
}

.table_button_wrapper {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
    margin: 0;
    padding: 20px;
    font-size: 2rem;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 10px;
    background-color: var(--clay);
    padding: 10px 10px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    position: relative;
    min-width: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;

    & img {
        width: 90%;
        height: 100px;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 5px;
    }
    & p {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0 5px 10px 0;
        font-size: 0.8rem;
    }
}

p {
    text-align: center;
}

